.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-6.mx-auto
      .flex-column
        %h3.text-dark.text-decoration-none.p-3
          ◆ Look this weeks nominee
        .p-5.text-center
          %h4
            Best Faded
          %p
            (reset all nominees on every Monday at 12:00 pm)
          - if @jeans.where(nominee_id: 1).present?
            - faded_award =  @jeans.where(nominee_id: 1)
            // - most_obtained =  faded_award.first
            // - most_obtained.create_award(most_obtained.jeans_id, most_obtained.nominee_id)
            %table.table.table-dark
              %thead
                %tr
                  %th
                  %th.text-center
                    Jeans Name
                  %th.text-center{scope:"col"}
                    number of nominees obtained
              %tbody
              // faded_award = ノミニーインスタンスが入っている
              - faded_award =  @jeans.where(nominee_id: 1)
              - faded_award.each do |f|
                - jeans = Jeans.find_by(id: f.jeans_id)
                %tr.mt-5
                  %th.pr-3text-center
                    = link_to user_path(jeans.user) do
                      = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                  %th.pr-3.text-center
                    = jeans.name
                  %td.text-center
                    = jeans.nominee_maps.where(nominee_id: 1).count
          - else
            There's no nominees yet.


        .p-5.text-center
          %h4
            Best Fashionable
          %p
            (reset all nominees on every Wednesday at 12:00 pm)
          - if @jeans.where(nominee_id: 2).present?
            %table.table.table-dark
              %thead
                %tr
                  %th
                  %th.text-center
                    Jeans Name
                  %th.text-center{scope:"col"}
                    number of nominees obtained
              %tbody
              // faded_award = NomineeMapインスタンスが入っている
              - faded_award =  @jeans.where(nominee_id: 2)
              - faded_award.each do |f|
                - jeans = Jeans.find_by(id: f.jeans_id)
                %tr.mt-5
                  %th.pr-3.text-center
                    = link_to user_path(jeans.user) do
                      = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                  %th.pr-3.text-center
                    = jeans.name
                  %td.text-center
                    = jeans.nominee_maps.where(nominee_id: 2).count
          - else
            There's no nominees yet.

        .p-5.text-center
          %h4
            Best Whisker
          %p
            (reset all nominees on every Thursday at 12:00 pm)
          - if @jeans.where(nominee_id: 3).present?
            %table.table.table-dark
              %thead
                %tr
                  %th
                  %th.text-center
                    Jeans Name
                  %th.text-center{scope:"col"}
                    number of nominees obtained
              %tbody
              // faded_award = ノミニーインスタンスが入っている
              - faded_award =  @jeans.where(nominee_id: 3)
              - faded_award.each do |f|
                - jeans = Jeans.find_by(id: f.jeans_id)
                %tr.mt-5
                  %th.pr-3.text-center
                    = link_to user_path(jeans.user) do
                      = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                  %th.pr-3.text-center
                    = jeans.name
                  %td.text-center
                    = jeans.nominee_maps.where(nominee_id: 3).count
          - else
            There's no nominees yet.

        .p-5.text-center
          %h4
            Best Shevron
          %p
            (reset all nominees on every Friday at 12:00 pm)
          - if @jeans.where(nominee_id: 4).present?
            %table.table.table-dark
              %thead
                %tr
                  %th
                  %th.text-center
                    Jeans Name
                  %th{scope:"col"}
                    number of nominees obtained
              %tbody
              // faded_award = ノミニーインスタンスが入っている
              - faded_award =  @jeans.where(nominee_id: 4)
              - faded_award.each do |f|
                - jeans = Jeans.find_by(id: f.jeans_id)
                %tr.mt-5
                  %th.pr-3.text-center
                    = link_to user_path(jeans.user) do
                      = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                  %th.pr-3.text-center
                    = jeans.name
                  %td.text-center
                    = jeans.nominee_maps.where(nominee_id: 4).count
          - else
            There's no nominees yet.

        .p-5.text-center
          %h4
            Best 501
          %p
            (reset all nominees on every Tuesday at 12:00 pm)
          - if @jeans.where(nominee_id: 5).present?
            %table.table.table-dark
              %thead
                %tr
                  %th
                  %th.text-center
                    Jeans Name
                  %th.text-center{scope:"col"}
                    number of nominees obtained
              %tbody
              // faded_award = ノミニーインスタンスが入っている
              - faded_award =  @jeans.where(nominee_id: 5)
              - faded_award.each do |f|
                - jeans = Jeans.find_by(id: f.jeans_id)
                %tr.mt-5
                  %th.pr-3.text-center
                    = link_to user_path(jeans.user) do
                      = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                  %th.pr-3.text-center
                    = jeans.name
                  %td.pr-3.text-center
                    = jeans.id
                  %td.text-center
                    = jeans.nominee_maps.where(nominee_id: 5).count
          - else
            There's no nominees yet.

    .col-3