.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-6.mx-auto
      .flex-column
        %h3.text-dark.text-decoration-none.p-3
          ◆ Look this weeks nominee
        .p-5
          %h4.text-center
            Best Fashionable
          %table.table.table-dark
            %thead
              %tr
                %th
                %th
                  Jeans Name
                %th.text-center{scope:"col"}
                  number of votes obtained
            %tbody
            // faded_award = ノミニーインスタンスが入っている
            - faded_award =  @jeans.where(nominee_id: 1)
            - faded_award.each do |f|
              - jeans = Jeans.find_by(id: f.jeans_id)
              %tr.mt-5
                %th.pr-3
                  = link_to user_path(jeans.user) do
                    = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                %th.pr-3
                  = jeans.name
                %td.text-center
                  = jeans.nominee_maps.where(nominee_id: 1).count


        .p-5
          %h4.text-center
            Best Fashionable
          %table.table.table-dark
            %thead
              %tr
                %th
                %th
                  Jeans Name
                %th.text-center{scope:"col"}
                  number of votes obtained
            %tbody
            // faded_award = ノミニーインスタンスが入っている
            - faded_award =  @jeans.where(nominee_id: 2)
            - faded_award.each do |f|
              - jeans = Jeans.find_by(id: f.jeans_id)
              %tr.mt-5
                %th.pr-3
                  = link_to user_path(jeans.user) do
                    = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                %th.pr-3
                  = jeans.name
                %td.text-center
                  = jeans.nominee_maps.where(nominee_id: 2).count

        .p-5
          %h4.text-center
            Best Fashionable
          %table.table.table-dark
            %thead
              %tr
                %th
                %th
                  Jeans Name
                %th.text-center{scope:"col"}
                  number of votes obtained
            %tbody
            // faded_award = ノミニーインスタンスが入っている
            - faded_award =  @jeans.where(nominee_id: 3)
            - faded_award.each do |f|
              - jeans = Jeans.find_by(id: f.jeans_id)
              %tr.mt-5
                %th.pr-3
                  = link_to user_path(jeans.user) do
                    = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                %th.pr-3
                  = jeans.name
                %td.text-center
                  = jeans.nominee_maps.where(nominee_id: 3).count

        .p-5
          %h4.text-center
            Best Fashionable
          %table.table.table-dark
            %thead
              %tr
                %th
                %th
                  Jeans Name
                %th{scope:"col"}
                  number of votes obtained
            %tbody
            // faded_award = ノミニーインスタンスが入っている
            - faded_award =  @jeans.where(nominee_id: 4)
            - faded_award.each do |f|
              - jeans = Jeans.find_by(id: f.jeans_id)
              %tr.mt-5
                %th.pr-3
                  = link_to user_path(jeans.user) do
                    = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                %th.pr-3
                  = jeans.name
                %td.text-center
                  = jeans.nominee_maps.where(nominee_id: 4).count

        .p-5
          %h4.text-center
            Best Fashionable
          %table.table.table-dark
            %thead
              %tr
                %th
                %th
                  Jeans Name
                %th.text-center{scope:"col"}
                  number of votes obtained
            %tbody
            // faded_award = ノミニーインスタンスが入っている
            - faded_award =  @jeans.where(nominee_id: 5)
            - faded_award.each do |f|
              - jeans = Jeans.find_by(id: f.jeans_id)
              %tr.mt-5
                %th.pr-3
                  = link_to user_path(jeans.user) do
                    = image_tag jeans.user.image.url, size: "40x40", class: "rounded-circle"
                %th.pr-3
                  = jeans.name
                %td.text-center
                  = jeans.nominee_maps.where(nominee_id: 5).count
    .col-3