.container
  .row.mx-auto
    %h1.col-12.mb-5 Register your jeans
    = render "jeans/form", jeans: @jeans

    .col-6
      %h3
        Your Jeans
      - @user_jeans.each do |j|
        %ul.text-center.list-unstyled
          %li
            = link_to user_jeans_path(j,user_id: current_user) do
              = image_tag j.jeans_image.url, size: "200x230"
            = j.brand.name
            = j.lot.number if j.lot_id.present?
