.container
  .row.mx-auto
    .col-6
      %h2.mb-5
        Your Profile
      .flex-column
        .ml_auto.mb-2
          -if current_user.image.url
            = image_tag current_user.image.url, size: "300x300", class: "shadow mb-5 bg-white rounded-circle"
          -else
            = image_tag 'no_jeans.jpg', size: "90x90", class: "shadow mb-5 bg-white rounded-circle"
        .ml_auto.font-weight-bold.mb-1
          = current_user.name
        .ml-auto
          = current_user.introduction
        .d-flex
          %p
            Posts
            %strong
              = current_user.posts.count
            | Follower
            %strong
              = current_user.followers.count
            | Following
            %strong
              = current_user.followings.count
        = link_to my_page_jeans_path do
          %strong view your jeans
        %br
          = link_to my_page_edit_path do
            %strong edit your profile
    .col-6
      
