.container
  .row.mx-auto
    .col-6
      %h2.mb-5
        Your Profile
      .flex-column
        .ml_auto.mb-2
          -if current_user.image.url
            = image_tag current_user.image.url, size: "90x90", class: "rounded-circle"
          -else
            = image_tag 'no_jeans.jpg', size: "90x90", class: "rounded-circle"
        .ml_auto.font-weight-bold.mb-1
          = current_user.name
        .ml-auto
          = current_user.introduction
        .d-flex
          = link_to  user_jeans_index_path(user_id: current_user) do
            %strong view your jeans
    .col-6
      %h2
        Edit Your Profile
      = bootstrap_form_with(model: current_user, url: user_path(current_user), local: true) do |f|
        -if current_user.image.url
          = image_tag current_user.image.url, size: "200x200", id: :img_prev, class: "rounded-circle"
        -else
          = image_tag 'no_jeans.jpg', id: :img_prev, size: "200x230", class: "rounded-circle"
        = f.file_field :image, {class: "file_field_message", id: "user_img"}
        = f.text_field :name
        = f.text_area :introduction
        = f.submit