.row
  .col-10.pr-0{id: "flash_#{post.id}"}
    .card.mb-4.mt-5
      .bd-placeholder-img.card-img-top
        = link_to post_path(post) do
          = image_tag post.image.url, class: "card-image", id: "flash_#{post.id}"
      .card-body
        - post_jeans = Jeans.find_by(id: post.jeans_id)
        .d-flex
          = link_to user_path(post.user) do
            = image_tag post.user.image.url, size: "50x50", class: "rounded-circle"
          .flex-column.ml-3
            %strong
              #{post_jeans.name}
            %p.small
              #{post_jeans.brand.name} #{post_jeans.lot.number} #{post_jeans.year.date_of_birth}
        %p.card-text
          = post.body
        %p.text-right.small
          = post.created_at.strftime("%Y-%m-%d %H:%M")
        .d-flex
          - post.tags.each do |tag|
            %p.card.rounded-pill.p-2.mr-2.small
              = link_to tag_path(tag), class: "link edit-icon" do
                = tag.tag_name
        .d-flex.icons
          -if post_jeans.is_nominated_by?(post_jeans, current_user)
            .position-relative.mr-3
              %i.fas.fa-check-circle.mr-4.trophy_complete{onClick: "click_trophy_complete()"}
          -else
            .position-relative.mr-3
              %i.fas.fa-trophy.text-warning.mr-4.trophy_icon{onClick: "click_trophy_icon(this)", id: "#{post.id}" }
          .div{id: "post_#{post.id}"}
            .favorite_btn
              = render "favorites/favorite_btn", post: post
          .div{id: "relationship_#{post.id}"}
            .relationship_btn
              = render "relationships/relationship_btn", post: post
          .ml-5
            = social_share_button_tag( post.body)
      .nominate_form.ml-3.mb-3.mr-3.pt-3.border-top{id: "nominate_form_#{post.id}"}
        = bootstrap_form_with url: nominee_maps_path, local: true do |f|
          .mb-2
            Nominate This Jeans to...
          .d-flex
            = f.select :nominee_id, NomineeMap.nominee_ids.keys, hide_label: true
            = f.hidden_field :jeans_id, value: post.jeans_id
            = f.hidden_field :user_id, value: current_user.id
          = f.submit 'Vote!', class: "btn btn-primary"
          .nominate_close_button.btn.btn-dark{onclick: "close_trophy_icon(this)", id: "#{post.id}"}
            Close
      // .comments_index
      //   .div{id: "comments_and_form_#{post.id}"}
      //     = render "comments/index", {comment: comment, comments: comments, comment_reply: comment_reply, post: post}
  //サイドバー　背景とに日にち設定
  - post_jeans = Jeans.find_by(id: post.jeans_id)
  - date =  (post.created_at - post_jeans.date_of_purchase.to_time.to_datetime).to_i
  - difference_date = (date / 1.day)
  -if difference_date < 10
    .col-2.first_step.mb-4.mt-5.border-right.border-top
      %p.strong.h4.text-white.pt-3
        Day
        = difference_date
  - elsif difference_date > 10
    .col-2.second_step.mb-4.mt-5.border-right.border-top
      %p.strong.h4.text-white.pt-3
        Day
        = difference_date
  -elsif difference_date > 60
    .col-2.third_step.mb-4.mt-5.border-right.border-top
      %p.strong.h4.text-white.pt-3
        Day
        = difference_date
