.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-6.mx-auto
      .w-75
        %h2
          .mb-4
            Post Your Jeans
        = bootstrap_form_with(url: posts_path, model: Post.new, local: true) do |f|
          .form_group
            = f.file_field :image, {class: "file_field_message", id: "user_img"}
          .form-group
            = f.text_area :body
          .form_group
            = f.select :jeans_id, @user_jeans.collect { |j| [j.name  + j.brand.name  + j.lot.number, j.id]}
            %p.text-right
              = link_to my_page_jeans_path, class: "link text-decoration-none" do
                Add New Jeans ->
            = f.text_field :tag_name, :placeholder => "Insert space when you add a hushtag yo your post!!"
            = f.submit
      %h2.mt-5
        View Posts
      - @posts.each do |post|
        - comment = post.comments.build
        - comment_reply = post.comments.build
        - comments = Comment.includes(:user).where(post_id: post.id).order(created_at: :desc)
        = render 'posts/posts', {post: post, comment: comment, comment_reply: comment_reply, comments: comments }
    .col-3