.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-4
      %h3
        Post Your Jeans
      = bootstrap_form_with(url: posts_path, model: Post.new, local: true) do |f|
        .form_group
          = f.file_field :image, {class: "file_field_message", id: "user_img"}
        .form-group
          = f.text_area :body
        .form_group
          = f.select :jeans_id, @user_jeans.collect { |j| [j.brand.name + j.lot.number, j.id ] }, include_blank: true
      %h3.text-gray
        Your Posts
      - @posts.each do |post|
        .card
          %svg.bd-placeholder-img.card-img-top.100.180
            = image_tag post.image.url,  size: "200x230"
          .card-body
            %h5.card-title
              Card title
            %p.card-text
              Some quick example text to build on the card title and make up the bulk of the card's content.

