.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-6.mx-auto
      = link_to user_path(@post.user, anchor: "flash_#{@post.id}"), class: "view_flash h4" do
        View this Jeans Posts ->
      .row
        .col-10.pr-0
          .card.mb-4.mt-5
            .bd-placeholder-img.card-img-top
              = image_tag @post.image.url, class: "card-image"
            .card-body
              - post_jeans = Jeans.find_by(id: @post.jeans_id)
              .d-flex
                = link_to user_path(@post.user) do
                  = image_tag @post.user.image.url, size: "50x50", class: "rounded-circle"
                .flex-column.ml-3
                  %strong
                    #{post_jeans.name}
                  %p.small
                    #{post_jeans.brand.name} #{post_jeans.lot.number} #{post_jeans.year.date_of_birth}
              %p.card-text
                = @post.body
              %p.text-right.small
                = @post.created_at.strftime("%Y-%m-%d %H:%M")
              .d-flex
                - @post.tags.each do |tag|
                  %p.card.rounded-pill.p-2.mr-2.small
                    = link_to tag_path(tag), class: "link edit-icon" do
                      = tag.tag_name
              .d-flex.icons
                -if post_jeans.is_nominated_by?(post_jeans, current_user)
                  .position-relative.mr-3
                    %i.fas.fa-check-circle.mr-4.trophy_complete{onClick: "click_trophy_complete()"}
                - else
                  .position-relative.mr-3
                    %i.fas.fa-trophy.text-warning.mr-4.trophy_icon{onClick: "click_trophy_icon(this)", id: "#{@post.id}"}
                %i.far.fa-comment.mr-3.click_comment_icon{onClick: "click_comment_icon(this)", id: "#{@post.id}"}
                - if @post.favorited_by?(current_user)
                  .div{id: "post_#{@post.id}"}
                    .favorite_btn
                      = render "favorites/favorite_btn", post: @post
                  .div{id: "relationship_#{@post.id}"}
                    .relationship_btn
                      = render "relationships/relationship_btn", post: @post
                .ml-5
                  = social_share_button_tag(@post.body)
            .p-3.post_comment_form{id: "post_comment_form_#{@post.id}"}
              = render "comments/index",  {comments: @comments, post: @post, comment_reply: @comment_reply}

            - else
              %p.text-center
                There's no message for this post yet.
        -if @difference_date < 10
          .col-2.first_step.mb-4.mt-5.border-right.border-top
            %p.strong.h4.text-white.pt-3
              Day
              = @difference_date
        - elsif @difference_date > 10
          .col-2.second_step.mb-4.mt-5.border-right.border-top
            %p.strong.h4.text-white.pt-3
              Day
              = @difference_date
        -elsif @difference_date > 60
          .col-2.third_step.mb-4.mt-5.border-right.border-top
            %p.strong.h4.text-white.pt-3
              Day
              = @difference_date

    .col-3
