.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-4.mx-auto
      .card.mb-4
        .bd-placeholder-img.card-img-top
          = image_tag @post.image.url, class: "card-image"
        .card-body
          - post_jeans = Jeans.find_by(id: @post.jeans_id)
          .d-flex
            = link_to user_path(@post.user) do
              = image_tag @post.user.image.url, size: "50x50", class: "rounded-circle"
            .flex-column.ml-3
              %strong
                #{post_jeans.name}
              %p.small
                #{post_jeans.brand.name} #{post_jeans.lot.number} #{post_jeans.year.date_of_birth}
          %p.card-text
            = @post.body
          .d-flex
            - @post.tags.each do |tag|
              %p.card.rounded-pill.p-2.mr-2.small
                = link_to tag_path(tag), class: "link edit-icon" do
                  = tag.tag_name
          - if current_user
            .d-flex.icons
              = link_to edit_post_path(@post), class: "far fa-edit text-secondary text-decoration-none edit-icon" do
                %i.mr-3
              %i.far.fa-comment.mr-3
              %i.far.fa-heart.mr-3
              %i.far.fa-share-square.mr-3
          %p.text-right.small
            = @post.created_at.strftime("%Y-%m-%d %H:%M")
        .p-3
          %strong
            Type your message here !!
          = bootstrap_form_with url: post_comments_path(@post.id, @comment), local: true do |f|
            = f.text_area :content, hide_label: true
            .text-right
              = f.submit


        - if @comments.present?
          - @comments.each do |comment|
            - if comment.parent_id.nil?
              .flex-column.mt-3.p-3{id:" parent_comment_#{comment.id}"}
                = image_tag comment.user.image.url, size: "50x50", class: "rounded-circle"
                %strong
                  = comment.user.name
                %small
                  = comment.created_at.strftime("%Y-%m-%d %H:%M")
                %i.reply_button.far.fa-comment-dots.mt-2.p-1{id: "reply-button-#{comment.id}"}
                .ml-5
                  = comment.content
                .div{id: "reply_form_insert_point_#{comment.id}"}
                %template{id: "reply-form-#{comment.id}"}
                  = bootstrap_form_with url: post_comments_path(@post.id, @comment_reply), class: "pt-3 col-10 m-auto", local: true do |f|
                    %strong
                      Reply
                    = f.text_area :content, hide_label: true
                    = f.hidden_field :post_id, value: @post.id
                    = f.hidden_field :parent_id, value: comment.id
                    = f.submit "Reply", class: "btn btn-primary"
                    .reply_close_button.btn.btn-dark{ id: "#reply_close_button_#{comment.id}", onclick: "this.parentNode.innerHTML=''"}
                      Close
                - if comment.replies.present?
                  .view_replies_button.text-right.mr-3.text-primary{id: "view_#{comment.id}" }
                    View Replies
                  .hide_replies_button.text-right.mr-3.text-primary{id: "hidden_#{comment.id}", style: "display:none;"}
                    Hide Replies

                  .div{id: "replies_insert_point_#{comment.id}"}
                  %template{id: "replies-#{comment.id}"}
                    - comment.replies.order(created_at: :desc).each do |reply|
                      .mt-3.p-3
                        .text-left.ml-5
                          = image_tag reply.user.image.url, size: "30x30", class: "rounded-circle"
                          %strong
                            = reply.user.name
                          %small
                            = reply.created_at.strftime("%Y-%m-%d %H:%M")
                          .mb-4.ml-5
                            = reply.content

        - else
          %p.text-center
            There's no message for this post yet.
    .col-3







