!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Denim
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href:"https://fonts.googleapis.com/css2?family=Ultra&display=swap", rel: "stylesheet"}
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
    %link{rel:"stylesheet", href:"https://unpkg.com/charts.css/dist/charts.min.css"}
  %body
    .bg-mask
      = render 'layouts/header'
      = yield
